<%- include('components/head') %>

    <body>
        <%- include('components/navbar') %>
            <div class="container-fluid">
                <div class="row">
                    <%- include('components/sidemenu') %>

                        <main id="conteudo-principal" class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                            <div class="container-fluid mt-5">
                                <div class="row">
                                    <!-- Imagem do Produto -->
                                    <div class="col-sm-12 col-md-4 col-lg-3">
                                        <img id="produto-img"
                                            src="<%= produto.img_tcg ? produto.img_tcg : 'https://tcg.pokemon.com/assets/img/global/tcg-card-back.jpg' %>"
                                            alt="Imagem do produto <%= produto.nome %>" class="img-fluid rounded">
                                    </div>

                                    <!-- Detalhes do Produto -->
                                    <div class="col-md-8">
                                        <p class="fs-2 text-center  fw-bold">
                                            <%= produto.nome %>
                                        </p>

                                        <div class="table-responsive col-md-12">
                                            <table class="table table-bordered table-sm table-hover">
                                                <thead>
                                                    <tr class="table-secondary">
                                                        <th>Edição</th>
                                                        <th>Estado</th>
                                                        <th>Raridade</th>
                                                        <th>Estq.</th>
                                                        <th>Preço(R$)</th>
                                                        <th></th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% let edicoes=[ { nome: "Comum" , estoque: produto.est_comum,
                                                        preco: produto.preco_comum }, { nome: "Reverse" , estoque:
                                                        produto.est_reverse, preco: produto.preco_reverse }, {
                                                        nome: "Pokeball" , estoque: produto.est_pokeball, preco:
                                                        produto.preco_pokeball }, { nome: "Masterball" , estoque:
                                                        produto.est_masterball, preco: produto.preco_masterball } ]; %>

                                                        <% edicoes.forEach(edicao=> { if (edicao.estoque > 0) { %>
                                                            <tr>
                                                                <td>
                                                                    <%= produto.id_carta %>
                                                                </td>
                                                                <td>NM</td>
                                                                <td>
                                                                    <%= edicao.nome %>
                                                                </td>
                                                                <td>
                                                                    <%= edicao.estoque %>
                                                                </td>
                                                                <td>
                                                                    <%= parseFloat(edicao.preco).toFixed(2) %>
                                                                </td>
                                                                <td>
                                                                    <input type="number"
                                                                        class="form-control text-center qntToCart"
                                                                        value="1" min="1" max="<%= edicao.estoque %>"
                                                                        style="width: 75px; height: 30px; border-radius: 0%;">
                                                                </td>
                                                                <td>
                                                                    <div class="d-grid gap-2">
                                                                        <button id="toastBtn_<%= produto.id_carta %>"
                                                                            class="btn btn-sm btn-success btn-add-carrinho"
                                                                            data-id="<%= produto.id_carta %>"
                                                                            data-img="<%= produto.img_tcg %>"
                                                                            data-raridade="<%= edicao.nome %>"
                                                                            data-nome="<%= produto.nome %>"
                                                                            data-estq="<%= edicao.estoque %>"
                                                                            data-preco="<%= edicao.preco %>">Comprar <i
                                                                                class="bi bi-cart-plus-fill"></i></button>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <% } }); %>
                                                </tbody>
                                            </table>
                                            <p class="text-muted">*NM = Near Mint (Praticamente nova)</p>
                                        </div>

                                        <!-- Container da Toast -->
                                        <div class="toast-container position-fixed bottom-0 end-0 p-3">
                                            <div id="liveToast" class="toast" role="alert" aria-live="assertive"
                                                aria-atomic="true">
                                                <div class="toast-header">
                                                    <img src="<%= produto.img_tcg ? produto.img_tcg : 'https://tcg.pokemon.com/assets/img/global/tcg-card-back.jpg' %>"
                                                        class="rounded me-2" alt="Imagem do produto"
                                                        style="width: 40px; height: 40px;">
                                                    <strong class="me-auto">PLP Store</strong>
                                                    <small>Agora</small>
                                                    <button type="button" class="btn-close" data-bs-dismiss="toast"
                                                        aria-label="Fechar"></button>
                                                </div>
                                                <div class="toast-body">
                                                    O produto <strong>
                                                        <%= produto.nome %>
                                                    </strong> foi adicionado ao carrinho!
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </main>
                </div>
            </div>
            <%- include('components/footer') %>
                <script>
                    document.querySelectorAll(".btn-add-carrinho").forEach(button => {
                        button.addEventListener("click", function () {
                            let inputQuantidade = this.closest("tr").querySelector(".qntToCart");
                            let quantidade = parseInt(inputQuantidade.value);
                            let estoqueMaximo = parseInt(this.dataset.estq);

                            if (quantidade > estoqueMaximo) {
                                alert("A quantidade escolhida excede o estoque disponível.");
                                return;
                            }

                            let produto = {
                                id_carta: this.dataset.id,
                                nome: this.dataset.nome,
                                raridade: this.dataset.raridade,
                                preco: parseFloat(this.dataset.preco),
                                quantidade: quantidade,
                                estq_max: this.dataset.estq,
                                img: this.dataset.img
                            };

                            fetch("/adicionar-ao-carrinho", {
                                method: "POST",
                                headers: {
                                    "Content-Type": "application/json"
                                },
                                body: JSON.stringify(produto)
                            })
                                .then(response => response.json())
                                .then(data => {

                                    atualizarQuantidadeCarrinho();

                                })
                                .catch(error => console.error("Erro ao adicionar produto:", error));

                            //Toast
                            // Obtendo os elementos
                            const toastBtnId = "toastBtn_" + produto.id_carta;
                            const toastTrigger = document.getElementById('toastBtnId')
                            const toastLiveExample = document.getElementById('liveToast')

                            const toastBootstrap = new bootstrap.Toast(toastLiveExample);
                            toastBootstrap.show();
                        });
                    });


                </script>

    </body>

    </html>