<%- include('components/head') %>

    <%- include('components/navbar') %>

        <body>
            <div class="container-fluid">
                <div class="row">
                    <%- include ('components/sidemenu') %>

                        <main id="conteudo-principal" class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                            <div class="container-fluid mt-5">
                                <div class="row">
                                    <!-- Imagem do Produto -->
                                    <div class="col-sm-12 col-md-4 col-lg-3">
                                        <img id="produto-img"
                                            src="<%= produto.img_tcg ? produto.img_tcg : 'https://tcg.pokemon.com/assets/img/global/tcg-card-back.jpg' %>"
                                            alt="Imagem do produto <%= produto.nome %>" class="img-fluid rounded">
                                    </div>

                                    <!-- Detalhes do Produto -->
                                    <div class="col-md-8">
                                        <p class="fs-2 text-center text-uppercase fw-bold">
                                            <%= produto.nome %>
                                        </p>

                                        <div class="table-responsive col-md-12">
                                            <table class="table table-borderled table-sm table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>Edição</th>
                                                        <th>Estado</th>
                                                        <th>Raridade</th>
                                                        <th>Estq.</th>
                                                        <th>Preço(R$)</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% if (produto.est_comum> 0) { %>
                                                        <tr>
                                                            <td>
                                                                <%= produto.id_carta %>
                                                            </td>
                                                            <td>
                                                                <a>NM</a>
                                                            </td>
                                                            <td>Comum</td>
                                                            <td>
                                                                <%= produto.est_comum %>
                                                            </td>
                                                            <td>
                                                                <%= parseFloat(produto.preco_comum).toFixed(2) %>
                                                            </td>
                                                            <td>
                                                                <!-- Campo de entrada -->
                                                                <input type="number" class="form-control text-center"
                                                                    id="input-quantity-comum" value="1" min="1"
                                                                    style="width: 75px; height: 30px; border-radius: 0%;">
                                                            </td>
                                                            <td>
                                                                <button class="btn btn-sm btn-primary">Comprar</button>
                                                            </td>
                                                        </tr>
                                                        <% } %>
                                                            <% if (produto.est_reverse> 0) { %>
                                                                <tr>
                                                                    <td>
                                                                        <%= produto.id_carta %>
                                                                    </td>
                                                                    <td>NM</td>
                                                                    <td>Reverse</td>
                                                                    <td>
                                                                        <%= produto.est_reverse %>
                                                                    </td>
                                                                    <td>
                                                                        <%=
                                                                            parseFloat(produto.preco_reverse).toFixed(2)%>
                                                                    </td>
                                                                    <td>
                                                                        <!-- Campo de entrada -->
                                                                        <input type="number"
                                                                            class="form-control text-center"
                                                                            id="input-quantity-reverse" value="1"
                                                                            min="1"
                                                                            style="width: 75px; height: 30px; border-radius: 0%;">
                                                                    </td>
                                                                    <td>
                                                                        <button
                                                                            class="btn btn-sm btn-primary">Comprar</button>
                                                                    </td>
                                                                </tr>
                                                                <% } %>
                                                                    <% if (produto.est_pokeball> 0) { %>
                                                                        <tr>
                                                                            <td>
                                                                                <%= produto.id_carta %>
                                                                            </td>
                                                                            <td>NM</td>
                                                                            <td>Pokeball</td>
                                                                            <td>
                                                                                <%= produto.est_pokeball %>
                                                                            </td>
                                                                            <td>
                                                                                <%= parseFloat(produto.preco_pokeball).toFixed(2)
                                                                                    %>
                                                                            </td>
                                                                            <td>
                                                                                <!-- Campo de entrada -->
                                                                                <input type="number"
                                                                                    class="form-control text-center"
                                                                                    id="input-quantity-pokeball"
                                                                                    value="1" min="1"
                                                                                    style="width: 75px; height: 30px; border-radius: 0%;">
                                                                            </td>
                                                                            <td>
                                                                                <button
                                                                                    class="btn btn-sm btn-primary">Comprar</button>
                                                                            </td>
                                                                        </tr>
                                                                        <% } %>
                                                                            <% if (produto.est_masterball> 0) { %>
                                                                                <tr>
                                                                                    <td>
                                                                                        <%= produto.id_carta %>
                                                                                    </td>
                                                                                    <td>NM</td>
                                                                                    <td>Masterball</td>
                                                                                    <td>
                                                                                        <%= produto.est_masterball %>
                                                                                    </td>
                                                                                    <td>
                                                                                        <%= parseFloat(produto.preco_masterball).toFixed(2)
                                                                                            %>
                                                                                    </td>

                                                                                    <td>
                                                                                        <!-- Campo de entrada -->
                                                                                        <input type="number"
                                                                                            class="form-control text-center"
                                                                                            id="input-quantity-masterball"
                                                                                            value="1" min="1"
                                                                                            style="width: 75px; height: 30px; border-radius: 0%;">
                                                                                    </td>

                                                                                    <td>
                                                                                        <button
                                                                                            class="btn btn-sm btn-primary">Comprar</button>
                                                                                    </td>
                                                                                </tr>
                                                                                <% } %>
                                                </tbody>
                                            </table>
                                            <p class="text-muted">*NM = Near Mint(Praticamente nova)</p>
                                        </div>



                                        <!-- Container da Toast -->
                                        <div class="toast-container position-fixed bottom-0 end-0 p-3">
                                            <div id="liveToast" class="toast" role="alert" aria-live="assertive"
                                                aria-atomic="true">
                                                <div class="toast-header">
                                                    <!-- Imagem de exibição no Toast -->
                                                    <img src="<%= produto.img_tcg ? produto.img_tcg : 'https://tcg.pokemon.com/assets/img/global/tcg-card-back.jpg' %>"
                                                        class="rounded me-2" alt="Imagem do produto"
                                                        style="width: 40px; height: 40px;">
                                                    <strong class="me-auto">PLP Store</strong>
                                                    <small>Agora</small>
                                                    <button type="button" class="btn-close" data-bs-dismiss="toast"
                                                        aria-label="Fechar"></button>
                                                </div>
                                                <div class="toast-body">
                                                    O produto <strong>
                                                        <%= produto.nome %>
                                                    </strong> foi adicionado ao carrinho!
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </main>

                </div>
            </div>

            <script>
                //mensagem de "adicionado ao carrinho"
                const toastTrigger = document.getElementById('buttonAdd'); // Botão de exibição
                const toastLiveExample = document.getElementById('liveToast'); // Elemento da Toast

                if (toastTrigger) {
                    const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample);
                    toastTrigger.addEventListener('click', () => {
                        console.log('teste: botão clicado!');
                        toastBootstrap.show(); // Exibe a Toast
                    });
                }
            </script>


            <%- include('components/footer') %>
        </body>