<%- include('components/head') %>


    <header>
        <%- include('components/navbar') %>
    </header>
    <div class="container-fluid">
        <div class="row">
            <%- include ('components/sidemenu') %>

                <main id="conteudo-principal" class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                    <div class="container mt-5">
                        <div class="row">
                            <!-- Imagem do Produto -->
                            <div class="col-md-6 text-center">
                                <img id="produto-img"
                                    src="<%= produto.img_tcg ? produto.img_tcg : 'https://tcg.pokemon.com/assets/img/global/tcg-card-back.jpg' %>"
                                    alt="Imagem do produto <%= produto.nome %>" class="img-fluid rounded">
                            </div>

                            <!-- Detalhes do Produto -->
                            <div class="col-md-6">
                                <h1>
                                    <%= produto.nome %>
                                </h1>
                                <p class="text-muted">Código do Produto: <%= produto.id_carta %>
                                </p>
                                <h2 class="text-success" id="valorCarta"><strong>R$ <%=
                                            parseFloat(produto.preco_comum).toFixed(2) %></strong>
                                </h2>
                                <p>
                                    <%= produto.descricao_longa ? produto.descricao_longa
                                        : 'Descrição indisponível para este produto.' %>
                                </p>

                                <!-- Estoque -->
                                <p>
                                <div class="btn-group dropend">
                                    <button id="dropdownButton" type="button"
                                        class="btn btn-sm btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        <span id="tipo">Comum</span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <!-- Dropdown menu links -->
                                        <li><a class="dropdown-item" href="#" data-stock="comum">Comum : <%=
                                                    produto.est_comum%></a></li>
                                        <li><a class="dropdown-item" href="#" data-stock="reverse">Reverse : <%=
                                                    produto.est_reverse%></a></li>
                                        <li><a class="dropdown-item" href="#" data-stock="pokeball">R Pokeball : <%=
                                                    produto.est_pokeball%></a></li>
                                        <li><a class="dropdown-item" href="#" data-stock="masterball">R Masterball : <%=
                                                    produto.est_masterball%></a></li>
                                    </ul>
                                </div>
                                <span id="disponibilidade">
                                </span>
                                </p>

                                <!-- Botão de Compra -->
                                <div class="d-grid gap-2">
                                    <button id="comprarBtn"
                                        class="btn btn-primary btn-lg <%= produto.est_comum > 0 ? '' : 'disabled' %>"
                                        type="button">
                                        Comprar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>

        </div>
    </div>
    <script>
        // Função para atualizar a disponibilidade conforme a opção selecionada no dropdown
        document.querySelectorAll('.dropdown-item').forEach(item => {
            item.addEventListener('click', function (event) {
                // Obtém o tipo de estoque e o preço da opção selecionada
                const stockType = event.target.getAttribute('data-stock');
                const stockPrice = parseFloat(event.target.getAttribute('data-price')).toFixed(2);

                // Variáveis para armazenar o valor do estoque e o tipo da carta
                let stockValue = 0;
                let tipoCard = '';
                let price = 0;

                // Condicional para determinar os valores de estoque, tipo e preço
                switch (stockType) {
                    case 'comum':
                        stockValue = <%= produto.est_comum %>; // Preenchido pelo servidor
                        price = <%= parseFloat(produto.preco_comum).toFixed(2) %>;
                        tipoCard = 'Comum';
                        break;
                    case 'reverse':
                        stockValue = <%= produto.est_reverse %>;
                        price = <%= parseFloat(produto.preco_reverse).toFixed(2) %>;
                        tipoCard = 'Reverse Foil';
                        break;
                    case 'pokeball':
                        stockValue = <%= produto.est_pokeball %>;
                        price = <%= parseFloat(produto.preco_pokeball).toFixed(2) %>;
                        tipoCard = 'Reverse Pokeball';
                        break;
                    case 'masterball':
                        stockValue = <%= produto.est_masterball %>;
                        price = <%= parseFloat(produto.preco_masterball).toFixed(2) %>;
                        tipoCard = 'Reverse Masterball';
                        break;
                    default:
                        stockValue = <%= produto.est_comum %>;
                        price = <%= parseFloat(produto.preco_comum).toFixed(2) %>;
                        tipoCard = 'Comum';
                }

                // Atualiza a classe e o texto de disponibilidade
                const disponibilidadeSpan = document.getElementById('disponibilidade');
                const tipoSpan = document.getElementById('tipoCarta');
                const precoSpan = document.getElementById('valorCarta');
                const comprarBtn = document.getElementById('comprarBtn');

                // Verifica a quantidade em estoque e atualiza a interface
                if (stockValue > 0) {
                    disponibilidadeSpan.classList.remove('text-danger');
                    disponibilidadeSpan.classList.add('text-success');
                    disponibilidadeSpan.innerText = ` ${stockValue} un.`;
                    precoSpan.innerText = `R$ ${(price).toFixed(2)}`;
                    tipoSpan.innerText = tipo;
                    comprarBtn.classList.remove('disabled');
                } else {
                    disponibilidadeSpan.classList.remove('text-success');
                    disponibilidadeSpan.classList.add('text-danger');
                    disponibilidadeSpan.innerText = 'Fora de estoque';
                    precoSpan.innerText = `R$ ${(price).toFixed(2)}`;
                    comprarBtn.classList.add('disabled');
                }
            });
        });
    </script>

    <%- include('components/footer') %>